@page "/"

<PageTitle>Index</PageTitle>

<h1>My very first Static Web App using Blazor</h1>

<button @onclick="ButtonClick">@buttonCaption</button>

@code {
    private string buttonCaption = "Click me!";
    private void ButtonClick()
    {
        var count = 1;
        if (int.TryParse(buttonCaption, out count))
        {
            count++;
        }
        buttonCaption = count.ToString();
    }
}